Source: karchive
Section: libs
Priority: optional
Maintainer: Debian/Ubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Jonathan Riddell <jriddell@ubuntu.com>,
           Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               extra-cmake-modules (>= 0.0.14),
               libbz2-dev,
               liblzma-dev,
               pkg-kde-tools,
               qtbase5-dev,
               zlib1g-dev
Standards-Version: 3.9.5
Homepage: https://projects.kde.org/projects/frameworks/karchive
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kde/frameworks/karchive.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/frameworks/karchive.git

Package: libkf5archive-dev
Section: libdevel
Architecture: any
Depends: libkf5archive5 (= ${binary:Version}), qtbase5-dev, ${misc:Depends}
Description: Qt 5 addon providing access to numerous types of archives
 .
 This package is part of KDE Frameworks 5.
 .
 This package contains the development files.

Package: libkf5archive5
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Qt 5 addon providing access to numerous types of archives
 .
 This package is part of KDE Frameworks 5.

Package: libkf5archive5-dbg
Priority: extra
Section: debug
Architecture: any
Multi-Arch: same
Depends: libkf5archive5 (= ${binary:Version}), ${misc:Depends}
Description: debug symbols for karchive
 Qt 5 addon providing access to numerous types of archives
 .
 This package is part of KDE Frameworks 5.
 .
 This package contains the debug symbols.
