#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/pkg-kde-tools/qt-kde-team/2/debian-qt-kde.mk

override_dh_auto_configure:
	$(overridden_command) -- -DKDE4_BUILD_TESTS=false -DECM_MKSPECS_INSTALL_DIR=/usr/share/qt5/mkspecs/modules/

override_dh_strip:
	dh_strip --dbg-package=libkf5archive4-dbg
